<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninjas</title>
    {% load static %}
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="container">
        <div class="add">
            <div class="add_dojo">
                <form action="" method="post">
                    <table>
                        <tr>
                            <td>Name</td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                            <td>City</td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                            <td>State</td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><button>Add!</button></td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="add_ninja">
                <form action="" method="post">
                    <table>
                        <tr>
                            <td>First Name</td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                            <td>Last Name</td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                            <td>Dojo</td>
                            <select name="Dojo" id="">
                                <option value="OC"></option>
                                <option value="Seattle"></option>
                            </select>
                        </tr>
                        <tr>
                            <td></td>
                            <td><button>Add!</button></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
    
</body>
</html>