<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    {% load static %}
    <!-- <link rel="stylesheet" href="../static/css/style.css"> -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="users">
            <h1>All the Users</h1>
            <br>
            <div class="users_table">
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Age</th>
                    </tr>
                    {% for users in all_users %}
                    <tr>
                        <td>{{ users.id }}</td>
                        <td>{{ users.first_name }}</td>
                        <td>{{ users.email_address }}</td>
                        <td>{{ users.age }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <br>
        </div>
        <div class="add_user">
            <form action="new_user" method="post">
                {% csrf_token %}
                <h1>Add a User</h1>
                <br>
                <table>
                    <tr>
                        <th>First Name</th>
                        <th>
                            <input type="text" name="first_name">
                        </th>
                        <th>&nbsp&nbsp Last Name</th>
                        <th>
                            <input type="text" name="last_name">
                        </th>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <th>
                            <input type="text" name="email_address">
                        </th>
                        <th>&nbsp&nbsp Age</th>
                        <th>
                            <input type="number" name="age">
                        </th>
                    </tr>
                </table>
                <button type="submit">Add!</button>
            </form>
        </div>
    </div>
</body>
</html>